@model ToDoIndexVm
<h2>ToDo - Listen für @Model.Name</h2>
@* <h3>Übersicht</h3> *@
<br />
<div>
    <h3>Übersicht</h3>
    <span>  # Listen: @Model.ToDoLists.Count </span>
    <span>  # Aufgaben: @Model.ToDoLists.Sum(o=>o.TaskItems.Count) </span>
    <span>  # offen: @Model.ToDoLists.Sum(o=>o.TaskItems.Where(o=>!o.IsCompleted).Count()) </span>
    <span>  # abgeschlossen: @Model.ToDoLists.Sum(o => o.TaskItems.Where(o => o.IsCompleted).Count()) </span>
</div>
<table>
    <thead>
    <th>Name</th>
    <th>Tasks</th>
    <th>Offen</th>
    <th>Details</th>
    <th>Tags</th>
    <th> </th>
    </thead>
    <tbody>
        @foreach (var item in Model.ToDoLists)
        {
            int openTasksCount = @item.TaskItems.Where(o => !o.IsCompleted).Count();
            <tr style="border:groove">
                <td style="width:200px">@item.Name</td>
                <td style="width:200px">@item.TaskItems.Count</td>
                <td style="width:200px">@openTasksCount</td>
                <td style="width:140px">
                    <a href="/ToDo/TDLDetails/@item.Id">Details</a>
                </td>
                <td >
                    @foreach(var tags in item.TaskItems.SelectMany(o => o.Tags).ToHashSet())
                    {
                        <span style="color:#@tags.HexColor"> @tags.Name</span><br />
                    }
                    </td>
                <td style="width:160px" >
                    @* <a href="/ToDo/TDLDelete/@item.Id">Delete</a> *@
                    <a href="/ToDo/TDLDelete/@item.Id" class="btn btn-sm btn-danger ms-3" onclick="return confirm('@item.Name löschen?')">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<p style="color:red">@TempData["ErrorMessage"]</p>
<p style="color:green">@TempData["DeleteMessage"]</p>

<div>
    @{
        if (Model.RemainingLists > 0)
        {
            <p>Du kannst noch @Model.RemainingLists Liste(n) erstellen (von insgesamt @Model.MaxLists) </p>
            <a href="/ToDo/TDLCreate">Create</a>
        }
        if (Model.RemainingLists < 1)
        {
            <p class="text-danger">Du hast alle Slots aufgebraucht! </p>
            if (Model.IsFreeUser)
            {
                <p class="text-danger">Premium kaufen!</p>
            }
        }
    }
</div>
