@model UserOverViewVm

<script type='text/javascript'>
    function enableBtn(itemId) {
        document.getElementById("submit" + itemId).hidden = false;
        // document.getElementById("submit"+itemId).disabled = false;
    }
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Registriert
            </th>
            <th>
                Email
            </th>
            <th>
                Rolle
            </th>
            <th>
                #Listen
            </th>
            <th>
                #Aufgaben
            </th>
            <th>
                #Tags
            </th>
            <th style="width:100px">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppUsers)
        {
            <tr style="height:50px">
                <form action="/Admin/UserUpdate" method="post">

                    <input hidden name="Id" value="@item.Id" />
                <td>
                        @item.Username
                </td>
                <td>
                        @item.RegisteredOn.ToString("d")
                </td>
                <td>
                        @item.Email
                </td>
                <td>
                    <select name="AppRoleId" id="AppRoleId" onchange="enableBtn(@item.Id)">
                            @foreach (var role in Model.AppRoleDict)
                            {
                                string selectedString = role.Key == item.AppRoleId ? "selected" : String.Empty;
                                if (role.Key == item.AppRoleId)
                                {
                                <option value="@role.Key" selected>
                                        @role.Value
                                </option>
                                }
                                else
                                {
                                <option value="@role.Key">
                                        @role.Value
                                </option>
                                }

                            }
                    </select>
                </td>
                <td>
                        @if (!item.IsAdmin)
                        {
                            @item.ToDoLists.Count
                        }
                </td>
                <td>
                        @if (!item.IsAdmin)
                        {
                            @item.ToDoLists.Sum(o => o.TaskItems.Count)
                        }
                </td>
                <td>
                        @if (!item.IsAdmin)
                        {
                            @item.Tags.Count
                        }
                </td>
                <td style="width:100px">
                    <input type="submit" value="Speichern" id="@("submit"+item.Id)" hidden />
                </td>
                </form>
            </tr>
        }
    </tbody>
</table>

<span style="color:red">@TempData["ErrorMessage"]</span>
<span style="color:green">@TempData["SuccessMessage"]</span>

